.dropdown-container {
  /* must assign container position as relative */
  position: relative;
  width: 300px;
}

.dropdown-head {
  padding: 10px;
  text-align: center;
}

.dropdown-body {
  position: absolute;
  top: 100%;
  width: 100%;

  background-color: white;
  box-shadow: 1px 1px 1px 1px #888888;
}

.dropdown-item {
  cursor: pointer;
}
